<header class="site-header">
  <div style="margin-bottom:0;" class="wrap">
    <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <nav class="site-nav">
      <a href="{{ '/' | relative_url }}">Archive</a>
      <a href="{{ '/about/' | relative_url }}">About</a>
      <a href="{{ '/subscribe/' | relative_url }}">Subscribe</a>
      <button type="button" id="theme-toggle" class="theme-toggle" aria-label="Toggle color theme"></button>
    </nav>
    <p style="margin:0; padding:0; font-style:italic">a newsletter about collective bargaining in sports</p>
  </div>
</header>
